@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, nav, button {
  font-family: 'Raleway', sans-serif;
}

footer {
  font-family: 'Open Sans', sans-serif;
}
a {
  color: inherit;
  /* text-decoration: none; */
}

* {
  box-sizing: border-box;
}
